body{
    font-family: 'Raleway', sans-serif;
    background-color: black;
    color: white;
    line-height: 1.5em;
}

header h1{
    display: inline-block;
}

.pepe{
    width: 30px;
    display: inline-block;
}

section{
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

section img{
    max-width: 90%;
    margin: auto;
    margin-top:20px;
    display: block;
}

figcaption{
    text-align: center;
    
}

p{
    font-size: 16.5px;
}

footer p{
    display: inline-block;
    font-size: 13px;
}

footer img{
    display: inline-block;
    height: 18px;
}
